<div class="title-block">
    <h3 class="title">
        Страница истории <span class="sparkline bar"></span>
    </h3>
    <div class="pull-right">
        <button class="btn-sm btn btn-primary-outline"
                (click)="openFilter()"
        >
            <i class="fa fa-filter"></i>
        </button>
    </div>
</div>
<div *ngIf="!isLoaded">
    <app-loader></app-loader>
</div>
<div *ngIf="isLoaded">
    <app-history-chart [data]="chartsData"></app-history-chart>
    <app-history-events
            [category]="category"
            [event]="filterEvent"
    ></app-history-events>
    <div *ngIf="isFilterVisible">
        <app-history-filter
                (onFilterCancel)="onFilterCancel()"
                (onFilterApply)="onFilterApply($event)"
                [categoties]="category"
        ></app-history-filter>
    </div>
</div>
